@charset "utf-8"; 
/*
* 深圳大学-信息工程学院;
* ShenZhen University - College of Information Engineering;
* Author:Jason;
* Edited:2014.11.10;
* Copyright:SZU CIE;
*/
.article {
	width: 1000px;
	margin: 0 auto;
	margin-top: -70px;
	min-height: 380px;
	border-radius: 0px;
	position: relative;
	z-index: 1001;
	
}
.article a:hover {
	background: #FFF;
	color: #955542;
	text-decoration: none;
	padding: 5px;
	border-radius: 2px;
}
.article-left {
	float: left;
	width: 65%;
	height: 350px;
	word-wrap: break-word;
	border-right: 1px solid #F0F0F0;
	box-sizing: border-box;
	border-radius: 5px;
	margin-right: 5px;

}
.article-left h4 {
	font-size: 18px;
	color: #00ad5f;
	line-height: 40px;
}
.article-left p {
	font-size: 14px;
	color: #222;
	text-indent: 2em;
	line-height: 24px;
	padding-top: 8px;
}
.article-right {
	float: left;
	width: 35%;
	height: 355px;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	background-color: #fff;
	border-radius: 5px;
	border:3px solid #eee;
	box-shadow: 2px 4px 5px #888888;
}
.article-right h4 {
	font-size: 18px;
	color: #00ad5f;
	line-height: 40px;
}
.article-right-more {
	float: right;
	font-size: 14px;
	margin-top: -30px;
	margin-right: 10px;
}
.article-right ul {
	padding-top: 10px;
}
.article-right li {
	width: 100%;
	list-style: none;
	font-size: 16px;
	line-height: 30px;
}
.body {
	width: 1000px;
	margin: 0 auto;
	min-height: 260px;
	margin-top: 10px;
}
.body a:hover {
	color: #955542;
	text-decoration: none;
}
.list {
	margin-left: 15px;
	float: left;
	width: 32.3%;
	min-height: 220px;
	box-shadow: 2px 4px 4px #888888;
}
.list-1 {
	float: left;
	width: 24%;
	min-height: 220px;
	margin-left: 1.33333333%;
}
.list-2 {
	float: left;
	width: 24%;
	min-height: 220px;
	margin-left: 1.33333333%;
	margin-right: 1.33333333%;
}
.list-title {
	width: 100%;
	background: #F7F6FA;
	height: 40px;
	border: 1px solid #eee;
	border-radius: 5px 5px 0 0;
	padding: 0 10px 0 15px;
	box-sizing: border-box;
}
.list-body {
	width: 100%;
	
	min-height: 220px;
	max-height: 250px;
	border: 1px solid #eee;
	border-top: none;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
	padding: 10px;
	background-color: #fff;
	
	border:3px solid #eee;
}
.list-body a {
	color: #333;
	text-decoration: none;
}
.list-body a:hover {
	color: #00AD5F;
	text-decoration: none;
}
.list-title h4 {
	font-size: 17px;
	color: #00ad5f;
	line-height: 40px;
}
.list-title-more {
	float: right;
	font-size: 14px;
	margin-top: -30px;
}
.list-body li {
	width: 100%;
	list-style: none;
	font-size: 14px;
	line-height: 30px;
}
.limit0{
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	width:200px;
	display:block;
	float:left;
}
.limit1{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:200px;
	display:block;
	float:left;
}
.limit2{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:300px;
	display:block;
	float:left;
}
.limit3{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:300px;
	display:block;
	float:left;
}
.time2{
	float: right;
	font-size:14px;
}
.time{
	float:right;
	font-size:14px;
}
#returnTop{
	display:block;
	float:right;
}
















