/* author Jin 
    2015/10/5
*/
.time{
	float:right;
	font-size:14px;
}
/******************************/
/*
@Author:Qiu Tingyu
@Create Time: 2015-6-29 9:02
@Last Modified Time:
*/

@charset "utf-8";
img{border: none;}
ol,ul,li{list-style: none;}
a{text-decoration: none;}
body{ font-family: "微软雅黑";}

/*----------- 遮罩内容区 开始------------------------------------*/
/*----------- 从底部上升的遮罩效果 开始---------------------------*/

.content{
	float:right;
	margin-bottom: -150px;
}
.con{
	width: 297px;
	height: 198px;
	float: left;
	margin-right: 45px;
	margin-bottom: 15px;
	margin-top: 20px;
	position: relative;
	cursor: pointer;
}
.con img{
	width:297px;
	height: 198px;
}
.txt{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	background: rgba(0,0,0,0.6);
}
.txt h3{
	font-weight: normal;
}
.txt p{
	font-size: 14px;
	display: block;
	line-height: 20px;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-moz-margin-before: 1em;
	-moz-margin-after: 1em;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
}
/*------------- 从底部上升的遮罩效果 结束 ------------------------------*/

/**************************/
#menu-wrap{
	margin-right:0px;
	bottom:0px;
}
#menu a {
	color: #78E9CC;
}
#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu {
	font: 13px "trebuchet MS", Arial, Helvetica;
	padding: 0;
	position: absolute;
	right:83px;
	width: 798px;
	margin-right: 0px;
	bottom: 0px;
	background-color: #54c3f1;
	background-image: -moz-linear-gradient(#54c3f1, #54c3f1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#54c3f1), to(#54c3f1));
	background-image: -webkit-linear-gradient(#54c3f1, #54c3f1);
	background-image: -o-linear-gradient(#54c3f1, #54c3f1);
	background-image: -ms-linear-gradient(#54c3f1, #54c3f1);
	background-image: linear-gradient(#54c3f1, #54c3f1);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0px 0px #9fd9f6, 0 0px 0 #9fd9f6 inset;
	-webkit-box-shadow: 0 0px 0px #9fd9f6, 0 0px 0 #9fd9f6 inset;
	box-shadow: 0 0px 0px #9fd9f6, 0 0px 0 #9fd9f6 inset;
}
#menu:before, #menu:after {
	content: "";
	display: table;
}
#menu:after {
	clear: both;
}
#menu {
	zoom: 1;   /*  设置或检索对象的缩放比例。对应的脚本特性为zoom。 */


}
#menu li {
	float: left;
	border-right: 1px solid #9fd9f6;
	-moz-box-shadow: 0px 0 0 #9fd9f6;
	-webkit-box-shadow: 0px 0 0 #9fd9f6;
	box-shadow: 0px 0 0 #9fd9f6;
	position: relative;
}
#menu a {
	float: left;
	padding: 12px 30px;
	color: #fff;
	text-transform: uppercase;   /* 定义成大写 */
	font: bold 18px "微软雅黑", Helvetica;
	text-decoration: none;
}
#menu ul li a {
	color: #514A4A;
	text-transform: uppercase;
	font: 18px "微软雅黑", Helvetica;
	text-decoration: none;
	text-shadow: 0 0px 0 #000;
}
#menu li:hover > a {
	color: #fafafa;
}
*html #menu li a:hover {
	color: #fafafa;
}
#menu ul {
	margin: 20px 0 0 0;
	_margin: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 53px; 
	left: 0;
	z-index: 1;
	background: #99ccff;
	background: -moz-linear-gradient(#54c3f1, #54c3f1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#54c3f1), to(#54c3f1));
	background: -webkit-linear-gradient(#54c3f1, #54c3f1);
	background: -o-linear-gradient(#54c3f1, #54c3f1);
	background: -ms-linear-gradient(#54c3f1, #54c3f1);
	background: linear-gradient(#54c3f1, #54c3f1);
	-moz-box-shadow: 0 -0px rgba(255,255,255,.3);
	-webkit-box-shadow: 0 0px 0 rgba(255,255,255,.3);
	box-shadow: 0 0px 0 rgba(255,255,255,.3);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
#menu li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}
#menu ul ul {           /* 下一级的ul的margin，top，left都要另外定义 */
	top: 0;
	left: 151px;
	margin: 0 0 0 20px;
	_margin: 0;
	-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	box-shadow: -1px 0 0 rgba(255,255,255,.3);
}
#menu ul li {
	float: none;
	display: block;
	border: 0;
	_line-height: 0;
	-moz-box-shadow: 0 0px 0 #111, 0 0px 0 #9fd9f6;
	-webkit-box-shadow: 0 0px 0 #111, 0 0px 0 #9fd9f6;
	box-shadow: 0 0px 0 #111, 0 1px 0 #9fd9f6;
}
#menu ul li:last-child {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#menu ul a {
	padding: 10px;
	width: 130px;
	_height: 10px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}
#menu ul a:hover {
	background-color: #7dcdf4;
	background-image: -moz-linear-gradient(#7dcdf4, #7dcdf4);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7dcdf4), to(#7dcdf4));
	background-image: -webkit-linear-gradient(#7dcdf4, #7dcdf4);
	background-image: -o-linear-gradient(#7dcdf4, #7dcdf4);
	background-image: -ms-linear-gradient(#7dcdf4, #7dcdf4);
	background-image: linear-gradient(#7dcdf4, #7dcdf4);
}
#menu ul li:first-child > a {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#menu ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;            /* 三角形 */
	border-right: 6px solid transparent;
	border-bottom: 6px solid #54c3f1;
}
#menu ul ul li:first-child a:after {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #54c3f1;
}
#menu ul li:first-child a:hover:after {
	border-bottom-color: #7dcdf4;
}
#menu ul ul li:first-child a:hover:after {
	border-right-color: #7dcdf4;
	border-bottom-color: transparent;
}
#menu ul li:last-child > a {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
